extends layout

block content
  container
    
    form(id='gameListingForm', action='/games', method='post')
      h1 Game Listing form

      label(for='category') Category
      div
        select(name='category', id='category')
          option(value='live') Live
          option(value='vod') VOD

      br
      label(for='isDownloadable') Want to make it available for download?
      div
        input(type='radio', id='isDownloadable', name='isDownloadable', value='true', checked=true)
        label Yes
        input(type='radio', id='isDownloadable', name='isDownloadable' value='false')
        label No

      br
      label(for='isPremium') Is this a premium game listing?
      div
        input(type='radio', id='isPremium', name='isPremium', value='true')
        label Yes
        input(type='radio', id='isPremium', name='isPremium' value='false', checked=true)
        label No
      
      br
      label(for='title') Title
      div
        input(class='textinput', type='text', id='title', name='title', required, minLength='8', maxLength='80')
      
      br
      label(for='subtitle') Subtitle
      div
        input(class='textinput', type='text', id='subtitle', name='subtitle', required, minLength='10', maxLength='120')
      
      br
      label(for='description') Description
      div
        textarea(type='text', id='description', name='description', required, minLength='10', maxLength='400')
      
      br
      label(for='imageUrl') Image URL
      div
        input(class='textinput', type='text', id='imageUrl', name='imageUrl', minLength='0', maxLength='400')

      br
      button(type='submit') Create Game Listing