body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

container {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea,
button {
  width: 100%;
  padding: 10px;
}

.textinput {
  width: 100%;
  padding: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
